* {
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  color: #151515;
}

button {
  border: 0;
  background-color: inherit;
  font-size: inherit;
  padding: 0;
  color: inherit;
}

/* MARGINS */
.mb-1 {
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-3 {
  margin-bottom: 12px;
}
.mb-4 {
  margin-bottom: 16px;
}
.mt-1 {
  margin-top: 4px;
}
.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 12px;
}
.mt-4 {
  margin-top: 16px;
}

/* TEXT ALIGN */
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* FONT SIZE */
.sm-text {
  font-size: 9pt;
}

.md-text {
  font-size: 12pt;
}

.lg-text {
  font-size: 16pt;
}

.xl-text {
  font-size: 32pt;
}

/* FONT WEIGHT */
.thin {
  font-weight: lighter;
}

.medium {
  font-weight: 400;
}

.bold {
  font-weight: bold;
}

.x-bold {
  font-weight: bolder;
}

/* PADDING */

.pd-h-1 {
  padding: 0 4px;
}
.pd-v-2 {
  padding: 0 8px;
}
.pd-v-3 {
  padding: 0 12px;
}
.pd-v-4 {
  padding: 0 16px;
}
.pd-v-1 {
  padding: 0 4px;
}
.pd-h-2 {
  padding: 0 8px;
}
.pd-h-3 {
  padding: 0 12px;
}
.pd-h-4 {
  padding: 0 16px;
}